.App {
  max-width: 600px;
  margin: 0 auto;
}

input[name="city"] {
  padding: 5px 10px;
}

button[type="submit"] {
  padding: 10px 15px;
  border: none;
  background: rgb(187, 127, 127);
  color: #fff;
  display: table;
  margin: 24px auto 0;
}

.info__header {
  background: #3da4ab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.info__header select {
  padding: 10px;
}

.weather-info {
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.scale {
  cursor: pointer;
}

.scale + .scale {
  margin-left: 10px;
}

.scale.active {
  color: rgb(214, 214, 64);
}

.info__content {
  padding: 20px;
}

.info__content > div + div {
  margin-top: 5px;
}

.weather__city,
.weather__temp {
  font-size: 32px;
}
